<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Dashboard</title>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">

      <!-- home button -->
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Mayer Doa Crypto</span>
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          <span class="link-text">Exchange</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
          <span class="link-text">Convert</span>
        </a>
      </li>


      <li class="nav-item">
        <a href="#" class="nav-link">

          <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
          <span class="link-text">Fee Calculation</span>
        </a>
      </li>


      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
          <span class="link-text">Get Debit Card</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
          <span class="link-text">Wallet</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
          <span class="link-text">Log out</span>
        </a>
      </li>



    </ul>
  </nav>

  <main>
    <h1>Lorem, ipsum dolor.</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit praesentium omnis ipsam tenetur error
      repellat
      amet aut libero at, laudantium aliquam labore dolorem cum ex eos voluptates ratione non excepturi in similique!
      Animi
      sunt dicta ullam aliquam vel quaerat inventore aperiam debitis repellendus! Ipsa facilis qui tempore quibusdam.
      Quae id
      dignissimos libero vitae sapiente alias, beatae officia? Molestiae eveniet, voluptates natus odio quam dolor
      distinctio
      ea ullam suscipit quasi totam, nihil, magni esse sunt dolore! Amet quae modi neque assumenda? Corrupti nam iure
      alias
      unde aliquam ut voluptatem hic debitis, repudiandae, labore quia. Quisquam dignissimos cupiditate tempora
      perferendis
      rem totam?
    </p>
  </main>
</body>


</html>